<div class="main">
    <div class="clock-main">
        <span class="clock-time">{{ time | date: 'hh:mm:ss.S a' }}</span><br/>
        <span class="clock-date">{{ time | date: 'EEEE, MMM d, y'}}</span>
    </div>
    <div class="temp-main">
        <span class="temp-text">{{ status.temp | number: '1.1-3' }}°F</span><br/>
        <span class="temp-humidity">{{ status.humidity | number: '1.1-3' }}%</span><br/>
        <span class="temp-error-text">{{ status.errorsSinceLastUpdate }} errors</span>
    </div>
    <div class="timer-main">
        <ng-container *ngFor="let clock of counters">
            <app-pi-timer [timer]="clock"></app-pi-timer>
        </ng-container>
    </div>
    <button (click)="reload()" class="reload-button btn">Reload</button>
</div>
